# copy all the env variables, create .env file in root of your project and paste it
PORT = 4000
MONGO_URI = mongodb+srv://admin:adminpassword@cluster0.iiuty.mongodb.net/course_cube

NODE_ENV = development
JWT_SECRET = JWT_SECRET

EMAIL_FROM = noreply@diarium.live
EMAIL_HOST_PROD = app.diarium.live
EMAIL_HOST_DEV = localhost:3000
SECURE = true
SMTP_USER = hello@email.casediary.online
SMTP_PASSWORD = 1d1ee59b6a741305cb144ceb26c3b85c-e49cc42c-73d1aa9a

INDEXING_PASS = yaggdrasil
ELK_AUTH = greywolf:chouhan92