# copy all the env variables, create .env file in root of your project and paste it
NODE_ENV = development
PORT = 4000
JWT_ACCESS_SECRET = 32f74a0d7b1e2010a02ee186a7829023307b39f0cf82a7eb7f25945d98300d7a2f796660db7d2dcc786c438e513107b1813157a85e74aa4ca64278b444005726
JWT_REFRESH_SECRET = 0cd139df9a67f69989753d8534937fa0522d047796fc36d3f7a2d9ab27b1877957e4beaa5bb0b1b6270d549d9f4e5ae44d8a67fa331c2fbb4b561a05a45e010e
MONGO_URI = mongodb+srv://admin:adminpassword@cluster0.iiuty.mongodb.net/course_cube
CLIENT_ID = 712761607011-pen5ucovsnc3pm7uf6hgic9k63s3bq6a.apps.googleusercontent.com
REDIS_HOST = redis-10224.c264.ap-south-1-1.ec2.cloud.redislabs.com
REDIS_PORT = 10224
REDIS_PASSWORD = YLnyRS1DlqRed5oCwbHzeBs3yQWDdXRM


EMAIL_FROM = noreply@diarium.live
EMAIL_HOST_PROD = app.diarium.live
EMAIL_HOST_DEV = localhost:3000
SECURE = true
SMTP_USER = hello@email.casediary.online
SMTP_PASSWORD = 1d1ee59b6a741305cb144ceb26c3b85c-e49cc42c-73d1aa9a

INDEXING_PASS = yaggdrasil
ELK_AUTH = greywolf:chouhan92